<ul>
  <table>
    <thead>
      <th>Email</th>
      <th>Referred</th>
    </thead>
    <tbody>
      <% @entries.each do |entry| %>
        <tr>
          <td><%= entry.email %></td>
          <td><%= entry.referred %></td>
        </tr>
      <% end %>
    </tbody>
</ul>